<script>
$(document).on("keypress", "#owner_userid", function (e) {
	if (event.which == '10' || event.which == '13') {
		event.preventDefault();
	}
});
</script>
<h1>New timelog</h1>
<%if current_user.try(:admin) || current_user.email == Constants::DEFAULT_LOGIN%>
	<%= form_for @timelog do |f| %>
	  <div class="field">
	    <%="User Number" %><br />
	    <%= text_field_tag :owner_userid, "", :class=>"form-control"%>
		<%= javascript_tag "$('#owner_userid').focus()" %>
	  </div>
	  <div class="field">
	    <%="Asset Number" %><br />
	    <%= text_field_tag :asset_id, "", :class=>"form-control"%>
		<%= javascript_tag "$('#asset_id').focus()" %>
	  </div>
	  <div class="actions">
	    <%= f.submit "Submit", :name => 'multi' %>
	  </div>
	<%end%>
	<hr />
	<%student=User.find_by_id(params[:user_id])%>
	<%if !student.nil?%>
		<%student.messages.each do |message|%>
			<%=render "/messages/alert", :message=>message%>
		<%end%>
	<%end%>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Name</th>
				<th>Asset</th>
				<th>In/Out</th>
				<th>Time</th>
			</tr>
		</thead>
		<tbody>
			<%@logs.each do |log|%>
				<tr>
					<td><%=log.user.full_name%></td>
					<td><%=log.asset_id%></td>
					<%if log.timeout.nil?%>
						<td>Out</td>
						<td><%=local_time log.timein, "%I:%M:%S %p"%></td>
					<%else%>
						<td>In</td>
						<td><%=local_time log.timeout, "%I:%M:%S %p"%></td>
					<%end%>					
				</tr>
			<%end%>
		</tbody>
	</table>
	<p>&nbsp;</p>
	<table class="table table-hover">
			<thead>
				<tr>
					<th>Name</th>
					<th>Asset</th>
				</tr>
			</thead>
			<tbody>			
			<%@computers.each do |log|%>
				<tr>
					<td><%=log.name%></td>
					<td><%=log.asset_id%></td>		
				</tr>
			<%end%>
		</tbody>
	</table>

<%end%>